:root {
  --color-NAVYBLU: #2e2f42;
  --color-IRIS: #4d5ae5;
  --color-SLATE: #434455;
  --color-Cloud: #f4f4fd;
  --color-WHITE: #ffffff;
  --color-OCEAN: #404bbf;
  --color-background: #ffffff;
  --color-background-hero: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-SLATE);
  background-color: var(--color-background);
}
.list {
  list-style: none;
  font-style: normal;
}
/*Шапка сайту*/

.logo {
  text-decoration: none;
  color: var(--color-IRIS);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-logo-header {
  color: var(--color-NAVYBLU);
}
.site-nav .link {
  text-decoration: none;
  color: var(--color-NAVYBLU);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
 
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-OCEAN);
  text-decoration: none;

}

.navigation-nav .link {
  text-decoration: none;
  color: var(--color-SLATE);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal

}
.navigation-nav .link:hover,
.navigation-nav .link:focus {
  color: var(--color-OCEAN);
  text-decoration: none;
 
}

/*Секції*/
.hero-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-WHITE);
  letter-spacing: 0.02em;
}
.background-hero-title {
  background-color: var(--color-background-hero);
  width: 1440px;
  height: 600px;
  left: 162px;
  top: 98px;
}
.button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-WHITE);
  background-color:var(--color-IRIS);

}
.button:hover {
  background-color: var(--color-OCEAN);
 
}

.button-pageone1{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  background-color: var(--color-Cloud);
  cursor: pointer;
}

.button-pageone2 {
  font-family: "Roboto", sans-serif;
  width: 116px;
  font-size: 16px;
  height: 48px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  background-color: var(--color-Cloud);
  cursor: pointer;
  
}
.button-pageone3 {
  font-family: "Roboto", sans-serif;
  width: 78px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  background-color: var(--color-Cloud);
  cursor: pointer;
}
.button-pageone4 {
  font-family: "Roboto", sans-serif;
  width: 101px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  background-color: var(--color-Cloud);
  cursor: pointer;
}
.button-pageone5 {
  font-family: "Roboto", sans-serif;
  width: 126px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: var(--color-WHITE);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  background-color: var(--color-Cloud);
  cursor: pointer;
}

.button:hover,.button-pageone1:hover,
.button-pageone2:hover,
.button-pageone3:hover,
.button-pageone4:hover,
.button-pageone5:hover{
  color: var(--color-WHITE);
}
.button-pageone1:hover,
.button-pageone2:hover,
.button-pageone3:hover,
.button-pageone4:hover,
.button-pageone5:hover,
.button:hover{
  background-color: var(--color-OCEAN);
}
.work-title,
.time-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-NAVYBLU);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLU);
}
.subtitles h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-NAVYBLU);
  letter-spacing: 0.02em;
}
.text-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-SLATE);
  letter-spacing: 0.02em;
}
/*footer*/
.text-footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-Cloud);
}
.background-footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background-color: var(--color-background-hero);
}
.text-logo-footer {
  color: var(--color-Cloud);
}
